@import "colors";

a.button {
  display: inline-block;
  border: 1px $subdued-color solid;
  border-radius: 4px;
  padding: 4px 6px;
  text-decoration: none;
  &:hover {
    background-color: $subdued-color;
    text-shadow: 0;
    text-decoration: underline;
  }
  &.ok {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 14px;
	  color: #ffffff;
	  padding: 10px 19px;
	  background: -moz-linear-gradient(
		  top,
		  #7dd729 0%,
		  #6ebd1e);
	  background: -webkit-gradient(
		  linear, left top, left bottom, 
		  from(#7dd729),
		  to(#6ebd1e));
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  border: 1px solid #55a603;
	  -moz-box-shadow:
		0px 1px 6px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	  -webkit-box-shadow:
		0px 1px 6px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	  box-shadow:
		0px 1px 6px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	  text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
  }
  &.small {
    font-size: 12px;
    padding: 2px 3px;
  }
}
