<ol id="reviews">
  <% reviews.each do |review| %>
    <li>
      <span class="review"><%= pluralize(review.stars, 'star') %></span>
      <span class="user">by <%= review.name %></span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
      <% if with_delete %>
        <%= link_to "Edit",
                    edit_movie_review_path(@movie, review),
                    id: "edit_review_#{review.id}",
                    class: "button small"%>
        <%= link_to "Delete",
                    movie_review_path(@movie, review),
                    id: "delete_review_#{review.id}",
                    class: "button small",
                    method: :delete,
                    data: {confirm: "Are you sure?"} %>
      <% end %>
    </li>
  <% end %>
</ol>
